body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    padding: 1rem;
    background-size: cover;
    position: fixed;
    background-color: #ffffff77;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2px;
    padding: 0;
}

nav {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* fundo translúcido */
    padding: 10px 20px;
    border-radius: 15px;
    z-index: 1000;
    display: flex;
    gap: 20px;
  }
  

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav a:hover {
    font-size: 20px;
}

main {
    font-family: 'Montserrat', sans-serif
}

.hero {

    text-align: center;
    padding: 4rem 2rem;
    background-image: url(../assets/imgs/pexels-marketingtuig-87224.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.562);
}

.hero p {
    font-size: 1.2rem;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.sobre {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
}

.vinhos img {
    height: 30%;
    width: 30%;
    border-radius: 15px;
}

.vinhos p {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.vinhos {
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.vinicula img {
    height: 30%;
    width: 30%;
    border-radius: 15px;
}

.vinicula p {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.vinicula {
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina img {
    height: 50%;
    width: 50%;
    border-radius: 15px;
}

.pagina p {
    padding: 2rem;
}

.pagina {
    max-width: 800px;
    margin: 10% auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif
}

.pagina2 table {
    border-radius: 15px;
    width:100%;
    margin-top:20px;
    text-align:center;
    overflow: hidden;
}

.pagina2 img {
    margin: 5% 5%;
    height: 80%;
    width: 80%;
    border-radius: 15px;
}

.pagina2 {
    max-width: 800px;
    margin: 10% auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif
}

.botao {
    background-color:#7b1e22; 
    color:white; 
    border:none; 
    padding:10px 20px; 
    border-radius:4px; 
    cursor:pointer;
}

.botao:hover {
    background-color: #521417;
}

.video {
    max-width: 800px;
    margin: 10% auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif
}

.video p {
    padding: 2rem;
}

.video iframe {
    margin: 5% 0;
    align-items: center;
    border-radius: 15px;
}